apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-spark-master
  labels:
    app: spark-master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-master
  template:
    metadata:
      labels:
        app: spark-master
    spec:
      containers:
        - name: spark-master
          image: "{{ .Values.spark.master.image }}"
          command: ["/bin/bash", "-c", "{{ .Values.spark.master.command }}"]
          ports:
            - containerPort: 7077
            - containerPort: 8080
          env:
            - name: SPARK_RPC_AUTHENTICATION_ENABLED
              value: "no"
            - name: SPARK_RPC_ENCRYPTION_ENABLED
              value: "no"
            - name: SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED
              value: "no"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-spark-master
spec:
  ports:
    - name: cluster
      port: 7077
      targetPort: 7077
    - name: webui
      port: 8080
      targetPort: 8080
  selector:
    app: spark-master
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-spark-worker
  labels:
    app: spark-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
        - name: spark-worker
          image: "{{ .Values.spark.worker.image }}"
          command: ["/bin/bash", "-c", "{{ .Values.spark.worker.command }}"]
          env:
            - name: SPARK_WORKER_CORES
              value: "1"
            - name: SPARK_WORKER_MEMORY
              value: "1G"
            - name: SPARK_MASTER_URL
              value: "spark://{{ .Release.Name }}-spark-master:7077"
            - name: SPARK_RPC_AUTHENTICATION_ENABLED
              value: "no"
            - name: SPARK_RPC_ENCRYPTION_ENABLED
              value: "no"
            - name: SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED
              value: "no"
