# OS X
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Spark / Java / Data
*.class
*.jar
checkpoint/
metastore_db/
derby.log
warehouse/

# Project Specific
logs/
data/
*.parquet/
_delta_log/

# Docker
docker-compose.override.yml

# Airflow
dags/__pycache__/
airflow-webserver.pid
standalone_admin_password.txt

# Helm
k8s/fraud-detection-platform/charts/
k8s/fraud-detection-platform/Chart.lock
